@import "grid.css";
@import "header.css";
@import "footer.css";
@import "formularlr.css";
@import "inicio.css";
@import "empresa.css";
@import "contacto.css";
@import "dashboard.css";
@import "propiedades.css";

/* Asegura que la página ocupe toda la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Organiza header, main y footer en una columna */
}

/* Header fijo en la parte superior */
header {

    padding: 10px 20px;
    flex-shrink: 0; /* Impide que el header se reduzca */
}

/* Main ocupa todo el espacio disponible */
main {
    flex: 1; /* Se expande para llenar el espacio restante */
    
}


b{
    font-weight: bold;
}
@-ms-viewport{
  width: device-width;
}

@media only screen and (max-width: 1366px) {
    body{
        font-size: 14px !important;
    }
} 