@import "reset.css";
@import "grid.css";
@import "header.css";
@import "footer.css";
@import "inicio.css";
@import "login.css";
@import "registro.css";

/* Estilo general para el main */
main {
  min-height: calc(100vh - 120px); /* Ajusta este valor según la altura de tu header y footer */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto asegura que el footer se empuje hacia el fondo */
}



.hide{
    display: none;
}

body{
	font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
b{
    font-weight: bold;
}
@-ms-viewport{
  width: device-width;
}

@media only screen and (max-width: 1366px) {
    body{
        font-size: 14px !important;
    }
}