/* Estilos generales para la navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

/* Estilo para la imagen */
.navbar img {
    height: 50px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 15px;
}

/* Estilo para el título */
.navbar h2 {
    color: white;
    margin: 0;
    font-size: 24px; /* Ajusta el tamaño según tus necesidades */
}

/* Estilos para el menú */
.navbar ul {
    list-style: none;
    display: flex;
    margin-left: auto; /* Empuja el menú hacia la derecha */
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
    border-radius: 5px;
}
